{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ekran logowania do projektu.">
    <title>Ekran logowania</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Pasek na górze strony -->
    <header class="navbar">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="Logo" id="logo">
        </div>
        <div class="title">
            <h1>Don't Starve</h1>
        </div>
    </header>

    <!-- Formularz logowania -->
    <div class="login-container">
        <h2>Zaloguj się</h2>
        <form id="{% static 'login-form' %}" action="/login/" method="POST">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}

            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}


            
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="text-danger small mt-2">{{ error }}</p>
                {% endfor %}
                {% else %}
                <p> <br><br> </p>
            {% endif %}
        </form>
        <p id="error-message"></p>
        <p class="register-link">Nie masz konta? <a href="/register/">Załóż teraz!</a></p>
    </div>

    <script src="script.js"></script>
</body>
</html>
