{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ekran rejestracji do projektu.">
    <title>Ekran rejestracji</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Pasek na górze strony -->
    <header class="navbar">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="Logo" id="logo">
        </div>
        <div class="title">
            <h1>Don't Starve</h1>
        </div>
    </header>

    <!-- Formularz rejestracji -->
    <div class="login-container">
        <h2>Załóż konto</h2>
        <form id="{% static 'register-form' %}" action="/register/" method="POST">
            <input type="text" id="username" name="username" placeholder="Nazwa użytkownika" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="password" name="password" placeholder="Hasło" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Powtórz hasło" required>
            <button type="submit">Zarejestruj się</button>
        </form>
        <p id="error-message"></p>
        <p class="register-link">Masz już konto? <a href="/login2/">Zaloguj się</a></p>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
